{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "node": true,
    "es7": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "strict": ["error", "global"],
    "curly": "warn",
    "func-style": ["error", "declaration", { "allowArrowFunctions": false }]
  }
}
