<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /kngell/
    RewriteCond %{$_SERVER['REQUEST_URI']} /public/([^\s?]*) [NC]
    RewriteRule ^ %1 [L,NE,R=302]
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch ".(eot|otf|ttf|woff|woff2)">
    Header always set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>

